.fretboard-wrapper {
  display: flex;
  flex: 1;
  padding: 10px;
  flex-direction: column;
  max-width: 800px;
  background-color: tan;
  height: 150px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.string {
  flex: 1;
  display: flex;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.string:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  align-self: center;
  /* background-color: black; */
  background: linear-gradient(#eee, #999);
  box-shadow: 76px 3px 10px #806233;
  z-index: 1;
}

.string:nth-child(6):before {
  height: 5px;
}

.string:nth-child(5):before {
  height: 4.5px;
}

.string:nth-child(4):before {
  height: 4px;
}

.string:nth-child(3):before {
  height: 3.5px;
}

.string:nth-child(2):before {
  height: 3px;
}

.string:nth-child(1):before {
  height: 2.5px;
}

.fret {
  display: flex;
  flex: 1;
  justify-content: center;
  /* border-right: 1px solid black; */
  border-right: 2px solid;
  border-image: linear-gradient(to left, #777, #bbb, #777) 1 100%;
}

.fret.base {
  border-right: 5px solid black;
}

.fret .note {
  display: flex;
  width: 12px;
  height: 12px;
  border: 1px solid black;
  border-radius: 100px;
  padding: 5px;
  font-size: 12px;
  z-index: 2;
  background-color: yellow;
  justify-content: center;
  align-items: center;
}
